html{
/* From https://css.glass */
background: rgba(19, 221, 177, 0.123);


backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
overflow-x: hidden;
}

.App{
width:70vw;
margin:0 auto ;
border: 1px lightgray solid;
margin-top: 10vh;
padding: 2em;
background-color: azure;
border-radius: 5px;
}

.App nav{


  display: flex;
  flex-direction: row;
  width:max-content;
  margin: 0 auto;
  gap: .5em;
}

.resultsGrid{


  display:flex;
  flex-direction: column;
 gap: 2em;
flex-wrap: wrap;
align-items:center;
justify-content: space-between;
}


@media (max-width: 60em) {
  
  .App{
    width: 100vw;
  }
}