
.wrapper{
    padding: 1em;
}
input{

    width: 30vw;
    text-align: center;
    padding: 1em;

}
::placeholder{
    font-size: 1.5em;
}

label{
    font-size: 1.5em;
}

@media (max-width: 60em) {
  input{

    width:40vw
  }
 
 }