.errorMessage{
margin: 0 auto;
width: fit-content;
font-size: 2em;
/*border:1px red double;*/
text-align: center;
color:red;
}

@media  only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px)  {

    .errorMessage{

        font-size: 1.5em;

    }


  
}