.wrapper{
 border:1px lightgray solid;
    /* padding: .3em; */
height: fit-content;
}
.wrapper p{

    text-align: center;
}

.icon{

  
background: rgb(83,205,242);
background: linear-gradient(0deg, rgba(83,205,242,1) 15%, rgba(182,212,228,1) 69%);
}

.day{
    background-color: black;
    color: white;
}